{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Balances</h2>

<div class="card shadow-sm p-4">

<table class="table table-striped">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Amount (₹)</th>
        </tr>
    </thead>

    <tbody>
    {% for b in balances %}
        <tr>
            <td>{{ users[b.from_user] }}</td>
            <td>{{ users[b.to_user] }}</td>
            <td>{{ "%.2f"|format(b.amount) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}
